<launch>
    <node name="task_planner" pkg="mrobosub_planning" type="task_planner.py" output="screen">
        <param 
            textfile="$(find mrobosub_planning)/param/globals.yaml" 
            type="yaml"
            name="globals"
        />
        <param 
            textfile="$(find mrobosub_planning)/param/common.yaml" 
            type="yaml"
            name="common"
        />
        <param 
            textfile="$(find mrobosub_planning)/param/competition_states.yaml" 
            type="yaml"
            name="competition_states"
        />
        <param 
            textfile="$(find mrobosub_planning)/param/prequal_front.yaml" 
            type="yaml"
            name="prequal_front"
        />
        <param 
            textfile="$(find mrobosub_planning)/param/prequal_turn.yaml" 
            type="yaml"
            name="prequal_turn"
        />
    </node>
</launch>
