<launch>
  <arg name="always_run" default="0" />
  <node 
    pkg="mrobosub_perception"
    type="buoy_hsv.py"
    name="buoy_hsv"
    output="screen"
    args="$(arg always_run)"
  >
    <rosparam command="load" file="$(find mrobosub_perception)/params/buoy_hsv.yaml" />
    <param name="serv_name" type="str" value="/hsv_buoy_position" />
    <rosparam command="load" file="$(find mrobosub_perception)/params/hsv_filter_1.yaml" />
  </node> 
</launch>
