<launch>
  <node
    pkg="mrobosub_perception"
    type="webcam_pub.py"
    name="webcam_pub"
    output="screen"
  />
  <!-- <node
    pkg="mrobosub_perception"
    type="webcam_sub.py"
    name="webcam_sub"
    output="screen"
  /> -->
  <node
    pkg="mrobosub_perception"
    type="pathmarker.py"
    name="pathmarker"
    output="screen"
  >
    <param textfile="$(find mrobosub_perception)/params/pathmarker.yaml" type="yaml" name="pathmarker" />
  </node> 
</launch>
