#!/usr/bin/env python

PACKAGE = "mrobosub_hal"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

default_mapping = [0, 1, 2, 3, 4, 5, 6, 7]
default_reverses = [True, True, False, False, True, True, True, True]
for i in range(8):
    gen.add(f"motor{i}", int_t, 0, f"motor {i} in logic maps to this motor on hardware", default_mapping[i], 0, 12)
    gen.add(f"motor{i}_rev", bool_t, 0, f"motor {i} in logic has a reversed propeller", default_reverses[i])

exit(gen.generate(PACKAGE, "thruster_controller", "thruster_mapping"))
