<launch>
    <node name="sim" pkg="mrobosub_planning" type="sim.py" />
    <rosparam command="load"
        file="$(find mrobosub_planning)/param/globals.yaml"
        ns="globals" />
    <rosparam command="load"
        file="$(find mrobosub_planning)/param/tasks.yaml"
        ns="tasks" />
    <node name="example" pkg="mrobosub_planning" type="example.py" />
</launch>