#!/usr/bin/env python

PACKAGE = "mrobosub_perception"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("image_number", int_t, 0, "image number to choose for dummy image", 1, 1, 200)

exit(gen.generate(PACKAGE, "mrobosub_perception", "dummy_botcam_params"))

