#!/usr/bin/env python

PACKAGE = "mrobosub_perception"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("f", int_t, 0, "focal length", 280, 1, 600)

exit(gen.generate(PACKAGE, "mrobosub_perception", "rectify_params"))
