<launch>
  <node name="joystick_teleop" pkg="mrobosub_teleop" type="joystick_teleop.py" required="true" output="screen">
    <rosparam command="delete" param="/joystick_teleop/" />
    <rosparam command="load" file="$(find mrobosub_teleop)/params/joystick_controls.yaml" />
  </node>
  <node name="joy_node" pkg="joy" type="joy_node"/>
</launch>
