<launch>
  <node name="pitch_control" pkg="mrobosub_gnc" type="pitch_control.py">
  </node>
  <node name="pitch_pose_pid" ns="pitch_pose_pid" pkg="pid" type="controller">
    <rosparam command="load"  file="$(find mrobosub_gnc)/params/pitch_pose_pid.yaml" />
  </node>
  <node name="pitch_twist_pid" ns="pitch_twsit_pid" pkg="pid" type="controller">
    <rosparam command="load"  file="$(find mrobosub_gnc)/params/pitch_twist_pid.yaml" />
  </node>
</launch>
